In [1]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

## Import Data

In [2]:
data = pd.DataFrame(pd.read_csv("prediction_result_3days_200622.csv"))
data.iloc[:,-1] = data.iloc[:,-1].str.replace(',', '').astype(float)
data.columns = ['Ticker','Actual Price', 'Predicted Price', 'MSE', 'MAE', 'R2',
       'Market Share', 'marketcap']
data.head(2)

,Ticker,Actual Price,Predicted Price,MSE,MAE,R2,Market Share,marketcap
0,ABDN.L,175.403336,[163.5097],0.077741,0.278821,1,1899229952,333131268597.699219
1,BBOX.L,188.927795,[208.25749],0.279559,0.528733,1,1903740032,359669407279.820312

In [3]:
target_universe = pd.DataFrame(pd.read_excel("target_stock_universe.xlsx", sheet_name = '20220524'))

In [4]:
target_universe['Ticker'] = target_universe['Ticker'].str.split(' ').str[0]
target_universe['Ticker'] = target_universe['Ticker'] + ".L"

In [5]:
target_universe_list = target_universe.iloc[:,0].to_list()

In [6]:
target_universe.head(4)

,Ticker,Name,Weight,Shares,Price,Market Cap,SEDOL,ISIN,Index,Market Share,ticker,Market Share.1
0,ABDN.L,abrdn plc,0.208414,2146.807357,190.05,4144469248,BF8Q6K6,GB00BF8Q6K64,FTSE100,2.180726e+07,ABDN.L,1.899230e+09
1,BBOX.L,Tritax Big Box REIT PLC,1.077274,1864.651846,203.00,3793396480,BG49KP9,GB00BG49KP99,FTSE250,1.868668e+07,BBOX.L,1.903740e+09
2,BEZ.L,Beazley PLC,0.815711,599.369252,478.20,2916524544,BYQ0JC6,GB00BYQ0JC66,FTSE250,6.098964e+06,BEZ.L,6.724630e+08
3,CCL.L,Carnival PLC,0.385195,155.214151,872.00,10567395328,3121522,GB0031215220,FTSE250,1.211857e+07,CCL.L,1.462600e+08

## List out stocks that get in and out of FTSE100

in total, there are 35 stocks in consideration. The stocks picked are the bottom 10 from FTSE100 and top 25 from FTSE250. Out of the 35 stocks, 2 stocks (HBR LN Equity & HSV LN Equity) has not enough price data, hence removed from consideration.

In [7]:
merged = data.merge(target_universe, how='left', on='Ticker')

In [8]:
top_10 = merged.sort_values(by='marketcap', ascending = False).head(10)

In [9]:
top_10[top_10['Index']=='FTSE250']

,Ticker,Actual Price,Predicted Price,MSE,MAE,R2,Market Share_x,marketcap,Name,Weight,Shares,Price,Market Cap,SEDOL,ISIN,Index,Market Share_y,ticker,Market Share.1
29,TUI.L,1970.500000,[1956.457],0.000011,0.003248,1,507431008,999892801264.0,TUI AG,0.618414,1184.484090,183.45,3314848768,BN4F7N3,DE000TUAG505,FTSE250,1.806949e+07,TUI.L,5.074310e+08
30,UTG.L,1094.273804,[984.9353],0.442204,0.664984,1,435726016,476803564904.132812,UNITE Group PLC/The,0.975462,317.950147,1078.00,4312825344,0692861,GB0006928617,FTSE250,4.000766e+06,UTG.L,4.357260e+08
5,CTEC.L,212.978073,[172.95068],1.607907,1.268033,1,2049789952,436560314277.9375,ConvaTec Group PLC,0.989963,1598.555116,217.60,4442880512,BD3VFW7,GB00BD3VFW73,FTSE250,2.041765e+07,CTEC.L,2.049790e+09
4,CNA.L,74.384422,[85.310745],0.139973,0.374130,1,5493660160,408642737326.464844,Centrica PLC,1.390191,5873.914827,83.16,4912636928,B033F22,GB00B033F229,FTSE250,5.907452e+07,CNA.L,5.493660e+09
31,WEIR.L,1567.920288,[1492.0137],0.072201,0.268702,1,259612000,407050921830.566406,Weir Group PLC/The,1.124342,258.802933,1526.50,3962978048,0946580,GB0009465807,FTSE250,2.596121e+06,WEIR.L,2.596120e+08
11,EZJ.L,535.200012,[526.18634],0.000791,0.028124,1,758000000,405681609252.929688,easyJet PLC,0.901885,638.262794,496.50,3763519744,B7KR2P8,GB00B7KR2P84,FTSE250,7.580100e+06,EZJ.L,7.580000e+08

based on the relative value of the market cap prediction, it shows that 6 FTSE250 stocks (TUI.L, UTG.L, CTEC.L, CNA.L, WEIR.L, EZJ.L) will be entering FTSE100.

In [10]:
bottom_25 = merged.sort_values(by='marketcap', ascending = False).tail(25)

In [11]:
bottom_25[bottom_25['Index']=='FTSE100']

,Ticker,Actual Price,Predicted Price,MSE,MAE,R2,Market Share_x,marketcap,Name,Weight,Shares,Price,Market Cap,SEDOL,ISIN,Index,Market Share_y,ticker,Market Share.1
14,HL.L,824.121399,[752.5042],0.084401,0.290519,1,474319008,390896444410.048828,Hargreaves Lansdown PLC,0.160095,377.874758,829.40,3933998592,B1VZ0M2,GB00B1VZ0M25,FTSE100,4.743186e+06,HL.L,4.743190e+08
26,SMDS.L,282.856812,[267.72086],0.095043,0.308290,1,1377449984,389621110507.25,DS Smith PLC,0.194905,1274.820668,299.30,4118135808,0822011,GB0008220112,FTSE100,1.375922e+07,SMDS.L,1.377450e+09
13,HIK.L,1640.628174,[1627.581],0.000760,0.027571,1,221079008,362708449166.773438,Hikma Pharmaceuticals PLC,0.145572,168.626349,1690.00,3755724032,B0LCW08,GB00B0LCW083,FTSE100,2.222322e+06,HIK.L,2.210790e+08
16,HWDN.L,660.338989,[637.03265],0.022085,0.148612,1,548673024,362310190101.1875,Howden Joinery Group PLC,0.189071,569.611143,649.80,3747058944,0557681,GB0005576813,FTSE100,5.766480e+06,HWDN.L,5.486730e+08
0,ABDN.L,175.403336,[163.5097],0.077741,0.278821,1,1899229952,333131268597.699219,abrdn plc,0.208414,2146.807357,190.05,4144469248,BF8Q6K6,GB00BF8Q6K64,FTSE100,2.180726e+07,ABDN.L,1.899230e+09
18,IDS.L,313.700653,[276.65097],0.108747,0.329769,1,956193024,299958376095.679688,International Distributions Services PLC,0.143853,897.714463,313.70,2999578880,BDVZYZ7,GB00BDVZYZ77,FTSE100,9.561935e+06,IDS.L,9.561930e+08
22,ITV.L,65.962585,[66.964294],0.002242,0.047346,1,4034409984,266120113306.78125,ITV PLC,0.134507,3722.321051,70.74,2847574528,3398649,GB0033986497,FTSE100,4.025409e+07,ITV.L,4.034410e+09

based on the relative value of the market cap prediction, it shows that 7 FTSE 100 stocks (HL.L, SMDS.L, HIK.L, HWDN.L, ABDN.L, IDS.L, ITV.L) will be entering FTSE100.

## Selecting High Conviction Stocks through Volatility Measurement

In [12]:
from pandas_datareader import data as pdr
import datetime as dt
import yfinance as yf

yf.pdr_override()

stock_ticker = target_universe_list

start = dt.datetime(2017, 5, 25)
end = dt.datetime(2022, 5, 26)
stock_data_raw = pdr.get_data_yahoo(stock_ticker, start = start, end = end)

[*********************100%%**********************]  35 of 35 completed

1 Failed download:
['HSV.L']: Exception('%ticker%: No timezone found, symbol may be delisted')

In [13]:
stock_data = stock_data_raw['Adj Close']

In [14]:
stock_data = stock_data.reset_index()

### To model the volatility, we use EWMA, where the weights assigned decrease exponentially as we move back through time

In [15]:
start_date = '2017-05-25'
end_date = '2022-05-26'
lambda_value = 0.94

filtered_data = stock_data[(stock_data['Date'] >= start_date) & (stock_data['Date'] <= end_date)]

for stock in stock_ticker:
    filtered_data['DailyReturn_' + stock] = filtered_data[stock].pct_change()
    filtered_data['EWMA_' + stock] = filtered_data['DailyReturn_' + stock].ewm(span=int(1 / (1 - lambda_value))).mean()

In [16]:
volatility_data = []
for stock in stock_ticker:
    column_name = 'EWMA_' + stock
    stock_volatility = filtered_data[column_name].std()
    volatility_data.append({'Ticker': stock, 'Volatility': stock_volatility})

volatility_df = pd.DataFrame(volatility_data).sort_values(by='Volatility', ascending = False)
volatility_df

    Ticker  Volatility
31   TUI.L    0.009851
3    CCL.L    0.009533
11   EZJ.L    0.008905
12  FRAS.L    0.007473
34  WIZZ.L    0.007067
13   HBR.L    0.006893
23  INVP.L    0.006806
24   ITV.L    0.006790
19   ICP.L    0.006779
4    CNA.L    0.006540
20   IDS.L    0.006420
33  WEIR.L    0.006246
27   RSW.L    0.005670
5   CTEC.L    0.005503
0   ABDN.L    0.005342
14   HIK.L    0.005173
2    BEZ.L    0.005141
25  JMAT.L    0.005064
15    HL.L    0.005029
10   EMG.L    0.004887
9   DPLM.L    0.004736
32   UTG.L    0.004722
28  SMDS.L    0.004690
22   IMI.L    0.004688
8    DPH.L    0.004626
17   HSX.L    0.004620
18  HWDN.L    0.004459
21   IGG.L    0.004449
29   SXS.L    0.004304
7    DLN.L    0.003883
1   BBOX.L    0.003641
30  TATE.L    0.003640
6    DLG.L    0.003558
26   PNN.L    0.003483
16   HSV.L         NaN